.wrapper {
    background: rgb(175, 175, 175);
    background-image: url('https://vignette.wikia.nocookie.net/spongebob/images/1/15/BikiniBottomHD.jpg/revision/latest?cb=20160625052753');
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 50px;
}  